body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    color: var(--textColor);
    background-color: var(--bgColor);
    margin: 0;
    box-sizing: content-box;
}
h1, h3{
    margin: 0;
}
.form{
    display: grid;
    padding: 2rem;
    gap: 1rem;
}
form > div{
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: .5rem;
}
form input[type="checkbox"]{
    margin-left: 2rem;
}
ul{
    margin-left: .5rem;
}

.producto{
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    gap: 1rem;
    width: 100%;
}