:root{
    --mainColor: #2e95d3;
    --textColor: #eee;
    --bgColor: #222;
    --bgSecondColor: #555;
    --errorColor: lightcoral;

    --borderrMid: 1rem;
    --borderrLow: .5rem;
}

*,*::after,**::before{
    box-sizing: border-box;
}
html{
    color: var(--textColor);
    background-color: var(--bgColor);
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: var(--mainColor);
}
h1,p{
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
}
button, input{
    font-size: inherit;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    padding: .5rem 1rem;
    border-radius: var(--borderrMid);
    border: none;
    text-align: center;
    background-color: var(--mainColor);
    font-weight: bold;
    cursor: pointer;
    color: var(--textColor);
}
.content{
    padding: 1rem;
    border-radius: .5rem;
    background-color: #555;
}
.hidden{
    display: none;
    opacity: 0;
    visibility: hidden;
}



form{
    display: grid;
    gap: 1rem;
}
.form-div{
    display: grid;
    grid-auto-flow: row;
}
.form-div input:not([type="submit"]){
    padding: .3rem .5rem;
    border-radius: var(--borderrLow);
    outline: none;
    border: none;
}
.input-error{
    font-size: .8rem;
    font-weight: bold;
    color: var(--errorColor);
}
.form-error{
    color: var(--errorColor);
    font-weight: bold;
    text-align: center;
    margin: .5rem 0;
}