:root{
    --mainColor: #4CAF50;
    --errorColor: lightcoral;
    --textColor: #eee;
    --bgColor: #222;
}
*,*::after,*::before{
    box-sizing: border-box;
}


a{
    display: flex;
    gap: .5rem;
    align-items: center;
    text-decoration: none;
}
ion-icon{
    font-size: 1rem;
}
html{

}
body{
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: sans-serif;
}

h1,p{
    margin: 0;
    padding: 0;
    line-height: 1;
}
h1{
    text-align: center;
}
.btn{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .4rem;
    font-weight:bold;
    background-color: #4CAF50;
    color: #eee;
    cursor:pointer;
    border: none;
    outline: none;
}
.btn ion-icon{
    font-size: 1.2rem;
}
.btn.red{
    background-color: var(--errorColor);
}
.hidden{
    display: none;
}



form{
    display: grid;
    gap: 1rem;
}
.form-div{
    display: grid;
    grid-auto-flow: row;
}
.form-div input:not([type="submit"]){
    padding: .3rem .5rem;
    border-radius: var(--borderrLow);
    outline: none;
    border: 1px solid #222;
}
.input-error{
    font-size: .8rem;
    font-weight: bold;
    color: var(--errorColor);
}
.form-error{
    color: var(--errorColor);
    font-weight: bold;
    text-align: center;
    margin: .5rem 0;
}